body {
    background-color: whitesmoke;
    margin-top: 3%;
    font-family: 'Times New Roman', Times, serif
  }

.head{
    background-color: grey;
    margin: 1%;
}

.container{
    color: black;
    width: 100%;
    height: 100%;
    font-size: 190%;
}

  .container .head {
    top: 10;
    left: 10;
    display: flex;
    align-items: center;
    width: 90%;
    padding: 0px 50px;
    z-index: 1;
    
}

.container .head img{
    width: 13%;
    margin-left: 21%;
}

.container .head a{
    color: aliceblue;
    text-decoration: none;
    background-color: #E50914;
    padding: 4px 10px;
    border-radius: 5px;
}

.banner{
    padding-top: 200PX;
    width: 100%;
    padding-top: -1%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h6{
    padding: 1%;
    margin-top: -1%;
    font-size: 140%;
    color: black;
}

.facebook {
 display: flex;
 color: whitesmoke;
 position: static;
 justify-content: center;
 align-items: center;
}

.insta{
 display: flex;
 position: static;
 margin-top: -3%;
 margin-left: 20%;
 justify-content: center;
 align-items: center;
}
